{% extends 'base.html' %}
{% block heading %}History{% endblock %}

{% block content %}
<style>#type{margin-bottom:1em;}</style>
<form method="post" action="/history" role="form">
    <div class="row">
        <div class="large-12 columns">
            <label for="type">Report Type</label>
            <select id="type" name="type" class="form-control">
                <option value="chain">Trade chains placed</option>
                <option value="log">Raw log output</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <label for="start_date">Start Date</label>
            <input type="text" id="start_date" name="start_date">
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <label for="end_date">End Date</label>
            <input type="text" id="end_date" name="end_date">
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <input type="submit" class="button" value="Download Report">
        </div>
    </div>
</form>
<script>$("#start_date, #end_date").datepicker({ dateFormat: "yy-mm-dd"});</script>
{% endblock %}
